@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, .logo {
    font-family: 'Syne', sans-serif !important;
    @apply font-black uppercase tracking-tighter leading-[0.85];
  }
  body {
    @apply bg-[#F6F2EC] text-[#0F1720] antialiased;
    font-family: 'Inter', sans-serif;
  }
}
